*,
*::before,
*::after {
  box-sizing: border-box;
}


/*
√ Ensure fonts load
√ Call to action page 
√ Change images (warm tone bg) - asymmetrical
√ grid boxes - change bg color, possible cool-grey, blue
√ two lines for tag in images
√ align left text in images
√ two lines for titles
√ lighter weight for titles


*/

body {
  margin: 0;
  font-family: "Manrope", system-ui, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  color: #303030;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  color: var(--title-accent);
  font-family: "Merriweather", serif;
  font-weight: 500;
  letter-spacing: 0.3px;
}

p {
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
